{% extends "main/base.html" %} # Наследование шаблона мы из главного файла base.html создали дочерний файл которые дополняет базовый
{% load static %}


{% block foo %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock foo %}


{% block content %}
<h1 class="mt-5 pt-5"><strong>{{about_about}}</strong></h1>
<p></p>
<p></p>
<p ><strong>{{ text}}</strong></p>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock footer %}